.main-header
    width: 100%;
    height: 75px;
    background: #446DFF 0% 0% no-repeat padding-box;

.header-p
    padding-top: 9px;
    font: normal normal normal 25px/30px Montserrat;
    color: #FFFFFF;

