<div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" class="conversion" >
        <div fxLayout="column">
            <p class="from">From</p>
            <input type="number" value="1" class="input-value" />
            <select matNativeControl required class="select">
              <option value="foot">Foot</option>
              <option value="kilometer">kilometer</option>
              <option value="meter">Metre</option>
              <option value="Milimeter">Milimeter</option>
              <option value="inch">Inch</option>
            </select>
          </div>
          <div fxLayout="column">
            <p class="to">To</p>
            <input type="number" value="1" class="input-value" />
            <select matNativeControl required class="select">
              <option value="foot">Foot</option>
              <option value="kilometer">kilometer</option>
              <option value="meter">Metre</option>
              <option value="Milimeter">Milimeter</option>
              <option value="inch">Inch</option>
            </select>
          </div>
    </div>
</div>