.conversion
    margin-top: 36px;
    margin-left: 26%;

p.from
    height: 15px;
    width: 38px;   
    margin-left: 10px;
    font: normal normal medium 12px/15px Montserrat;
    text-transform: uppercase;

p.to
    height: 15px;
    width: 38px;
    margin-right: 639px;
    font: normal normal medium 12px/15px Montserrat;
    text-transform: uppercase;

.input-value 
    height: 50px;
    width: 280px;
    border: 1px solid #E5DAFC;
    border-radius: 3px;
    text-align: left;
    font-size: 20px;
    font-family: Roboto;
    outline: none;

.select
    width: 286px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E7DCFE;
    font: normal normal medium 12px/15px Montserrat;
    text-transform: uppercase;
    outline: none;

.select, .input-value
    margin-left: 10px;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none;
  margin: 0;